/*/bin/
/*/obj/
bin/
obj/
/Backup/
/TestResults/
/Packages/
*.suo
*.user
UpgradeLog*.htm
UpgradeLog*.xml
/_UpgradeReport_Files/
*.tss
*.dbmdl
/Web/DownloadProperties/
*.cache
changelog.html
/PetSafeGPS.Web2/Scripts/_references.js
/PetSafeGPS.Web2/firmware/
/PetSafeGPS.Web2/installers/
/emails/
/PetSafeGPS.Web2/node_modules/
